html body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.logo-banner {
  display: flex;
  justify-content: center;
  padding: 6%;
}

.game-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;

  /* background-color: bisque; */
}
.how-to-play {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
  margin-bottom: 5%;
}
.play-button-div {
  /* display: flex; */
  /* justify-content: center;
  padding: 2%; */
}
.play-button {
  padding: 25px 30px;
  background-color: #030200;
  color: #bf1b1b;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  margin: 0 60px 0 60px;
}
.play-button:hover {
  background: #bf1b1b;
  color: #050801;
  box-shadow: 0 0 5px #bf1b1b, 0 0 25px #bf1b1b, 0 0 50px #bf1b1b,
    0 0 100px #bf1b1b;
  -webkit-box-reflect: below 1px linear-gradient(transparent);
}
.story {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.instructions {
  /* background-color: aquamarine; */
  display: flex;
  margin-bottom: 0.5rem;
}
.kbd {
  border: 1px solid black;
}
.space {
  padding: 0rem 3rem 0rem 3rem;
}
.instruction-div {
  border: 2px solid black;
  padding: 1rem 1rem 0rem 1rem;
  background-color: bisque;
}
.story-of-game {
  margin-bottom: 1rem;
}
