@font-face {
  font-family: "FVRIOSA";

  src: url("../fonts/FVRIOSA.TTF") format("truetype");
}
@font-face {
  font-family: "Eater";

  src: url("../fonts/Eater-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Eater";

  src: url("../fonts/Eater-Regular.ttf") format("truetype");
}
