.score-board-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  z-index: 1000000;
}

.rules-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rules-cat {
  width: 7vw;
  transition: opacity 1s ease-in-out;
}

.score-div {
  font-family: "FVRIOSA";
  color: #bf1b1b;
  font-size: 4vw;
  flex: 1;
  margin-left: 1vw;
  padding-bottom: 2vw;
}

.heart-wrapper {
  display: flex;
  justify-content: flex-end;
}

.heart-wrapper img {
  width: 10vw;
}

.heart-wrapper div {
  position: absolute;
  width:5vw;
  justify-content: flex-end;
  font-size: 2vw;
  font-family: "FVRIOSA";
  color: #fff;
  right:4.4vw;
  top:2.9vw;
  text-align: center;
}
