:root {
  --cat-width: 0;
  --heart-width: calc(100vw * 0.2);
}

.Game {
  height: calc(100vw / (16 / 9));
  margin-top: calc((100vh - (100vw / (16 / 9))) / 2);
}
/* MAIN */
.fred {
  z-index: 10000;
}

.heart {
  z-index: var(--heart-width);
}

.cats {
  z-index: var(--cat-width);
}

.cat1 {
  animation-duration: 8s;
}

.cat2 {
  animation-duration: 5s;
}

/* LINE 1 */

.line1-fred {
    position: absolute;
    left: -10%;
    bottom: 0;
    width: 40%;
    opacity: 40%;
    z-index: 10000;
  }
  

.line1 {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line1;
  left: 49.5%;
  top: 45%;
  width: 0%;
}

@keyframes line1 {
  0% {
    left: 49.5%;
    top: 45%;
    width: 0%;
  }
  95% {
    left: -1%;
    top: 39%;
    width: 20%;
  }
  99% {
    left: 0;
    top: -25%;
    width: 100%;
    opacity: 100%;
    z-index: 100000;
  }
  100% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 0%;
    z-index: 100000;
  }
}

.line1-heart {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line1-heart;
  animation-duration: 5s;
}

@keyframes line1-heart {
  0% {
    left: -1%;
    top: 39%;
    width: 20%;
  }
  100% {
    left: 49.5%;
    top: 45%;
    width: 0%;
  }
}

/* LINE 2 */

.line2-fred {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 40%;
    opacity: 40%;
    z-index: 10000;
  }
  

.line2 {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line2;
  left: 50.7%;
  top: 45%;
  width: 0%;
}

@keyframes line2 {
  0% {
    left: 50.7%;
    top: 45%;
    width: 0%;
  }
  95% {
    left: 20.5%;
    top: 39%;
    width: 20%;
  }
  99% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 100%;
    z-index: 100000;
  }
  100% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 0%;
    z-index: 100000;
  }
}

.line2-heart {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line2-heart;
  animation-duration: 5s;
}

@keyframes line2-heart {
  0% {
    left: 20.5%;
    top: 39%;
    width: 20%;
  }
  100% {
    left: 50.7%;
    top: 45%;
    width: 0%;
  }
}

/* LINE 3 */

.line3-fred {
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 40%;
  opacity: 40%;
  z-index: 10000;
}

.line3 {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line3;
  left: 51%;
  top: 45%;
  width: 0%;
}

@keyframes line3 {
  0% {
    left: 51%;
    top: 45%;
    width: 0%;
  }
  95% {
    left: 39.5%;
    top: 39%;
    width: 20%;
  }
  99% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 100%;
    z-index: 100000;
  }
  100% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 0%;
    z-index: 100000;
  }
}

.line3-heart {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line3-heart;
  animation-duration: 5s;
}

@keyframes line3-heart {
  0% {
    left: 41%;
    top: 39%;
    width: 20%;
  }
  100% {
    left: 51%;
    top: 45%;
    width: 0%;
  }
}

/* LINE 4 */

.line4-fred {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40%;
    opacity: 40%;
    z-index: 10000;
  }
  

.line4 {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line4;
  left: 51.8%;
  top: 45%;
  width: 0%;
}

@keyframes line4 {
  0% {
    left: 51.8%;
    top: 45%;
    width: 0%;
  }
  95% {
    left: 58.5%;
    top: 39%;
    width: 20%;
  }
  99% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 100%;
    z-index: 100000;
  }
  100% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 0%;
    z-index: 100000;
  }
}

.line4-heart {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line4-heart;
  animation-duration: 5s;
}

@keyframes line4-heart {
  0% {
    left: 58.5%;
    top: 39%;
    width: 20%;
  }
  100% {
    left: 51.8%;
    top: 45%;
    width: 0%;
  }
}

/* LINE 5 */

.line5-fred {
    position: absolute;
    left: 70%;
    bottom: 0;
    width: 40%;
    opacity: 40%;
    z-index: 10000;
  }
  

.line5 {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line5;
  left: 53.5%;
  top: 45%;
  width: 0%;
}

@keyframes line5 {
  0% {
    left: 53.5%;
    top: 45%;
    width: 0%;
  }
  95% {
    left: 79%;
    top: 39%;
    width: 20%;
  }
  99% {
    left: 0;
    top: -25%;
    width: 100%;
    opacity: 100%;
    z-index: 100000;
  }
  100% {
    left: 0%;
    top: -25%;
    width: 100%;
    opacity: 0%;
    z-index: 100000;
  }
}

.line5-heart {
  position: absolute;
  animation-timing-function: ease-out;
  animation-name: line5-heart;
  animation-duration: 5s;
}

@keyframes line5-heart {
  0% {
    left: 79%;
    top: 39%;
    width: 20%;
  }
  100% {
    left: 53.5%;
    top: 45%;
    width: 0%;
  }
}
