@font-face {
    font-family: "CustomFont";
  
    src: url("../fonts/FVRIOSA.TTF") format("truetype");
  }

.backgroundSquare {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 90%;
    backdrop-filter: blur(20px);
    z-index: 999;
  }

.scoreBtns{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #BF1B1B;
  border-radius: 12px;
  border: solid #BF1B1B 2px;
  padding: 2rem;
  margin: 0 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: "CustomFont";
  text-align: center;
}
  .ScoreboardTabble {
    display: flex;
    flex-direction: column;
    border: 2px solid #59220e;
    border-radius: 12px;
  }

  .ScoreboardTabbleUser {
    display: flex;
    justify-content: space-between;
    font-family: "CustomFont";
    font-size: 26px;
    color: #BF1B1B;
    width: 50vw;
    border-bottom: #BF1B1B 1px solid;
  }
  .userText {
    margin: 1rem;
  }
  .userPlace {
    display: flex;
    margin-right: 0;
  }
  .userNickname {
    margin-left: 0;
  }
  