@font-face {
    font-family: "CustomFont";
  
    src: url("../fonts/FVRIOSA.TTF") format("truetype");
  }

.backgroundSquare {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 85%;
    backdrop-filter: blur(20px);
    z-index: 999;
  }

  